<head lang="en">
    <meta charset='UTF-8'>
    <meta http-equiv="Content-Language" content="en" />

    <title>Test title</title>
</head>
<body>
    <div id="first" class=first role="banner" custom="ct">First div content</div>
    <div id="second">
        <div id="d1">Second inner div content</div>
        <!--
            <div id="d2">
                <span id="s1">Commented span content</span>
            </div>
        -->
        <div id="d2">
            <span id="s1">Span content</span>
        </div>
        <div id="d3">Third inner <br> div content</div>
    </div>
    <div id="third">Third div content <img src="test.jpg" > </div>
</body>